@model CarouselItem
<form asp-action="Create" method="post">
    <div class="form-group">
        <label>Image Source</label>
        <input asp-for="ImageSrc" class="form-control" placeholder="Enter Image Source">
    </div>
    <div class="form-group">
        <label>Image Alternative Text</label>
        <input asp-for="ImageAlt" class="form-control" placeholder="Enter Image Alt">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>