@model CarouselItem
<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label>Image Source</label>
        <input asp-for="ImageSrc" class="form-control" placeholder="Enter Image Source">
        <span asp-validation-for="ImageSrc" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Image Alternative Text</label>
        <input asp-for="ImageAlt" class="form-control" placeholder="Enter Image Alt">
        <span asp-validation-for="ImageAlt" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}